{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'shop/shop-cookies.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entering site..</title>
</head>
<body>
    <script src="{% static 'shop/loading-script.js' %}"></script>

    <h4 ALIGN="center" style="color: white;">Načítavanie, prosíme trochu strpenia.</h4>

</body>
</html>