.products {
    float: left;
    width: 450px;
    margin:20px;
    padding:20px;
    margin:20px;
}
#product_name {
    font-size: 15px;
    text-decoration: none;
    color:inherit;
    font-family: 'Anton', sans-serif;
}
#product_name:hover {
    text-decoration: underline;
}

#shopImage {
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-container:hover #shopImage {
    opacity: 0.3;
}

